@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LittleBlog.Photos.PhotoModel>
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="span7">
        <form id="form1" enctype="multipart/form-data" method="post" action="/photo/@Model.Id/edit">
            <fieldset>
                <legend>Edit photo</legend>
                <div class="control-group">
                    <label for="caption" class="control-label">Caption:</label>
                    <div class="controls">
                        <input type="text" name="caption" id="caption" autofocus required value="@Model.Caption" />
                    </div>
                </div>
                
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <a href="/photo/@Model.Id" class="btn">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span4">
        <img src="/photo/@Model.Id/render/300" alt="Photo" />
    </div>
</div>