@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The little blog that could</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/content/css/bootstrap.css" rel="stylesheet">
    <style>
        body
        {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/content/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/content/css/style.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <script src="/content/js/jquery.js"></script>
    <script src="/content/js/bootstrap.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="/">The little blog that could</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/Add">Add</a></li>
                    </ul>
                    
                    <ul class="navbar-search">
                        <form class="form-search" action="/search">
                          <input type="text" class="input-medium search-query" placeholder="Search" name="q">
                          <button type="submit" class="btn" style="margin-top:0">Search</button>
                        </form>
                    </ul>
                    
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    
    <footer>
        <div class="row">
            made by <a href="http://vladiliescu.ro"><span class="label label-info">Vlad Iliescu</span></a> using <a href="http://nancyfx.org"><span class="label">Nancy</span></a> and <a href="http://twitter.github.com/bootstrap/"><span class="label">Bootstrap</span></a>
        </div>
    </footer>
    <!-- /container -->
</body>
</html>
